@font-face {
  font-family: "Gecko Lunch";
  src: url("./fonts/Gecko_Lunch.ttf") format('truetype');
}

pre.ql-snow {
  background-color: initial;
  padding: initial;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor[contenteditable="true"] {
  min-height: 150px;
}

.ql-editor.ql-blank::before {
  left: initial;
  right: initial;
}

.ql-editor {
  padding-left: 0px;
  padding-right: 0px;
}

.InSortableList * {
  cursor: default;
  user-select: none;
}

.BoardInList {
  border: 2px solid #00d1b2;
}

.sortable-chosen {
  border: 2px solid #485fc7;
}

.titleLink:link {
  color: black;
  text-decoration: none;
}

.titleLink:visited {
  color: black;
  text-decoration: none;
}

.titleLink:hover {
  color: black;
  text-decoration: none;
}

.titleLink:active {
  color: black;
  text-decoration: none;
}